# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List some of the commonly used libraries used by Data Scientists
- Create a table
- Create bold text

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include: <br>
ggplot2, NumPy, Pandas.

| Data Science Tools |
|:------------------:|
|  Jupyter notebook  |
|       RStudio      |
|     TensorFlow     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
3 * 4 + 5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author <br> 
Marta K